<form action="#" method="POST" class="profile-form">
  <div class="form-group">
    <label for="title" class="obligatory">Title</label>
    <div>
      <select class="form-control" name="title" id="title" data-ng-model="ProfileCtrl.form.title"
              data-ng-options="accost for accost in ProfileCtrl.accosts">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="first_name" class="obligatory">First Name</label>
    <div><input type="text" class="form-control" id="first_name"
                placeholder="First Name" name="first_name"
                data-ng-model="ProfileCtrl.form.first_name"></div>
  </div>
  <div class="form-group">
    <label for="last_name" class="obligatory">Last Name</label>
    <div><input type="text" class="form-control" id="last_name"
                placeholder="Last Name" name="last_name"
                data-ng-model="ProfileCtrl.form.last_name"></div>
  </div>
  <div class="form-group">
    <label for="email" class="obligatory">Email</label>
    <div><input type="email" class="form-control" id="email"
                placeholder="Email" name="email"
                data-ng-model="ProfileCtrl.form.email"></div>
  </div>
  <div class="form-group">
    <label for="subscribe_to_newsletter" class="obligatory">Subscribe to Newsletter</label>
    <div><select class="form-control"
                 data-ng-options="boolValue.value as boolValue.title for boolValue in ProfileCtrl.booleanValues"
                 id="subscribe_to_newsletter" data-ng-model="ProfileCtrl.form.subscribe_to_newsletter">
    </select></div>
  </div>
  <div class="form-group">
    <label for="mobile" class="obligatory">Mobile Number</label>
    <div><input type="text" class="form-control" id="mobile"
                placeholder="Mobile Number" name="mobile"
                data-ng-model="ProfileCtrl.form.mobile"></div>
  </div>
  <div class="form-group">
    <label for="home_tel" class="obligatory">Home Telephone</label>
    <div><input type="text" class="form-control" id="home_tel"
                placeholder="Home Telephone" name="home_tel"
                data-ng-model="ProfileCtrl.form.home_tel"></div>
  </div>
  <div class="form-group">
    <label for="work_tel">Work Telephone</label>
    <div><input type="text" class="form-control" id="work_tel"
                placeholder="Work Telephone" name="work_tel"
                data-ng-model="ProfileCtrl.form.work_tel"></div>
  </div>
  <div class="form-group">
    <label for="address_line_1" class="obligatory">Address Line 1</label>
    <div><input type="text" class="form-control" id="address_line_1"
                placeholder="Address Line 1" name="address_line_1"
                data-ng-model="ProfileCtrl.form.address_line_1"></div>
  </div>
  <div class="form-group">
    <label for="address_line_2">Address Line 2</label>
    <div><input type="text" class="form-control" id="address_line_2"
                placeholder="Address Line 2" name="address_line_2"
                data-ng-model="ProfileCtrl.form.address_line_2"></div>
  </div>
  <div class="form-group">
    <label for="city" class="obligatory">Town / City</label>
    <div><input type="text" class="form-control" id="city"
                placeholder="Town / City" name="city"
                data-ng-model="ProfileCtrl.form.city"></div>
  </div>
  <div class="form-group">
    <label class="obligatory">Country</label>
    <div>
      <div>
        <ui-select ng-model="ProfileCtrl.form.country">
          <ui-select-match>
            <span ng-bind="$select.selected.title"></span>
          </ui-select-match>
          <ui-select-choices repeat="item in (ProfileCtrl.countries | filter: $select.search)  track by item.id">
            <span ng-bind="item.title"></span>
          </ui-select-choices>
        </ui-select>

        <!--<input type="text" class="form-control" id="country"
                  placeholder="Country" name="country"
                  data-ng-model="ProfileCtrl.form.country">-->
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="post_code" class="obligatory">Post Code</label>
    <div><input type="text" class="form-control" id="post_code"
                placeholder="Post Code" name="post_code"
                data-ng-model="ProfileCtrl.form.post_code"></div>
  </div>
  <div class="form-group">
    <label for="hear_from">How did you hear about us?</label>
    <div><input type="text" class="form-control" id="hear_from"
                placeholder="" name="hear_from"
                data-ng-model="ProfileCtrl.form.hear_from"></div>
  </div>

  <div class="form-group buttons">
    <button type="button" class="btn btn-primary button" data-ng-click="ProfileCtrl.update()"
            data-ng-disabled="ProfileCtrl.request">
      Update
    </button>
    <a type="button" class="btn btn-warning button"
       ui-sref="^.show" data-ng-disabled="ProfileCtrl.request">
      Cancel
    </a>
  </div>
</form>
