<div class="my-children">

  <div class="vertical-menu">
    <div class="col-md-3 tab {{ (tab === 'profile') ? 'tab-custom-active' : 'tab-custom' }}">
      <i class="fa fa-2x fa-user" aria-hidden="true"></i>
      <p>My Details</p>
    </div>
    <div class="col-md-3 tab {{ (tab === 'children') ? 'tab-custom-active' : 'tab-custom' }}">
      <i class="fa fa-2x fa-users" aria-hidden="true"></i>
      <p>Participant Details</p>
    </div>
    <div class="col-md-3 tab {{ (tab === 'orders') ? 'tab-custom-active' : 'tab-custom' }}">
      <i class="fa fa-2x fa-list" aria-hidden="true"></i>
      <p>Select Course</p>
    </div>
    <div class="col-md-3 tab {{ (tab === 'complete') ? 'tab-custom-active' : 'tab-custom' }}">
      <i class="fa fa-2x fa-shopping-basket" aria-hidden="true"></i>
      <p>Confirm &#38; Pay</p>
    </div>
  </div>

  <div class="content">
    <div class="content-container"
         style="background: white; border-style: solid; border-color: #d4d3d3; border-width: 0px 1px 1px 1px;">

      <ui-view></ui-view>

    </div>
  </div>
</div>