<div class="row">

    <div class="col-md-6" data-ng-show="DetailCtrl.group.school">
        <div class="portlet light portlet-fit portlet-datatable ">
            <div class="portlet-title">
                <div class="caption">
                    School
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <p><b>Name</b>: {{ DetailCtrl.group.school.name }}</p>
                    <p><b>Code</b>: {{ DetailCtrl.group.school.code }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6" data-ng-show="DetailCtrl.group.course_parts.length">
        <div class="portlet light portlet-fit portlet-datatable ">
            <div class="portlet-title">
                <div class="caption">
                    Course Parts
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container" data-ng-repeat="coursePart in DetailCtrl.group.course_parts">
                    <p><b>Name</b>: {{ coursePart.course.name + ' ' + coursePart.name }}</p>
                    <p><b>Cost Per Course</b>: {{ coursePart.cost_per_course }}</p>
                    <p><b>Age</b>: {{ coursePart.min_age }} - {{ coursePart.max_age }} </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="portlet light portlet-fit portlet-datatable">
            <div class="portlet-title">
                <div class="caption">
                    Description Message
                </div>
            </div>
            <div class="portlet-body">
                <bl class="dl-horizontal-message">
                    <dt data-ng-if="DetailCtrl.group.subject != null">Subject:</dt>
                    <dd data-ng-if="DetailCtrl.group.subject != null"> {{ DetailCtrl.group.subject }}</dd>
                    <dt>Text:</dt>
                    <dd><span ng-bind-html="DetailCtrl.group.text | lntobr"></span></dd>
                    <dt>Mode:</dt>
                    <dd>{{ DetailCtrl.group.mode | titleMode }}</dd>
                    <dt data-ng-if="DetailCtrl.group.files.length">Files:</dt>
                    <dd data-ng-if="DetailCtrl.group.files.length">
                        <ul data-ng-if="DetailCtrl.group.files.length">
                            <li data-ng-repeat="file in DetailCtrl.group.files"><a href="{{ file.path }}"
                                                                                   target="_blank">{{
                                file.original_name }}</a></li>
                        </ul>
                    </dd>
                </bl>
            </div>
        </div>
    </div>
</div>

<div class="portlet light portlet-fit portlet-datatable">
    <div class="portlet-title">
        <div class="caption">
            Sent messages
        </div>
        <div class="actions">
            <a ui-sref="^.index" class="btn blue">All Messages</a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-container">

            <table class="table margin-top-10">
                <thead>
                <tr>
                    <th>Full name</th>
                    <th>Contact</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr data-dir-paginate="message in DetailCtrl.group.messages | itemsPerPage: 10"
                    pagination-id="messages">
                    <td>
                        {{ message.messageable.title }} {{ message.messageable.first_name }} {{
                        message.messageable.last_name }}
                    </td>
                    <td>{{ message.contact }}</td>
                    <td>
                        <span ng-repeat="status in message.statuses" data-ng-if="$last"
                              data-ng-show="message.statuses.lenght > 1">
                            <span style="{{ status.status | statusColor }}">
                            <small>{{ DetailCtrl.formatDate(status.created_at) | date:'short' }}</small>
                        |
                        {{ status.status | titleStatus:DetailCtrl.group.mode }}
                                </span>
                        </span>

                        <span data-ng-hide="message.statuses.lenght > 1">
                          <span style="{{ message.statuses.status | statusColor }}">
                              {{ DetailCtrl.formatDate(message.statuses.created_at) | date:'short' }} | {{ message.statuses.status | titleStatus:DetailCtrl.group.mode }}
                              </span>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <dir-pagination-controls pagination-id="messages"></dir-pagination-controls>

            <div class="clearfix"></div>
        </div>
    </div>
</div>