<div class="portlet light portlet-fit portlet-datatable ">
    <div class="portlet-title">
        <div class="caption">
            Sent messages
        </div>
        <div class="actions">
            <a ui-sref="send.index" class="btn green">New Message</a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs12 pull-right">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                <input type="text" class="form-control" placeholder="Search" ng-model="SentCtrl.search">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>Text</th>
                    <th>
                        <a href
                           data-ng-click="SentCtrl.sortType = 'mode'; SentCtrl.sortReverse = !SentCtrl.sortReverse">
                            Mode
                            <span data-ng-if="SentCtrl.sortType == 'mode'" class="fa"
                                  data-ng-class="{'fa-caret-up': !SentCtrl.sortReverse, 'fa-caret-down': SentCtrl.sortReverse}">
                                             </span>
                        </a>
                    </th>
                    <th>
                        <a href
                           data-ng-click="SentCtrl.sortType = 'type'; SentCtrl.sortReverse = !SentCtrl.sortReverse">
                            Type
                            <span data-ng-if="SentCtrl.sortType == 'type'" class="fa"
                                  data-ng-class="{'fa-caret-up': !SentCtrl.sortReverse, 'fa-caret-down': SentCtrl.sortReverse}">
                                             </span>
                        </a>
                    </th>
                    <th>
                        <a href
                           data-ng-click="SentCtrl.sortType = 'created_at'; SentCtrl.sortReverse = !SentCtrl.sortReverse">
                            Date
                            <span data-ng-if="SentCtrl.sortType == 'created_at'" class="fa"
                                  data-ng-class="{'fa-caret-up': !SentCtrl.sortReverse, 'fa-caret-down': SentCtrl.sortReverse}">
                                             </span>
                        </a>
                    </th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr data-dir-paginate="messageGroup in SentCtrl.messageGroups
                | filter: SentCtrl.search
                | orderBy:id:true
                | orderBy: SentCtrl.sortType: SentCtrl.sortReverse
                | itemsPerPage: 10">
                    <td data-ng-bind-html="messageGroup.text | trustAsHtml"></td>
                    <td>{{ messageGroup.mode | titleMode }}</td>
                    <td>{{ messageGroup.type }} ({{ messageGroup.type_name }})</td>
                    <td>{{ SentCtrl.formatDate(messageGroup.created_at) | date:'short' }}</td>
                    <td><a class="btn green" ui-sref="^.show({ groupId: messageGroup.id })">Info</a></td>
                </tr>
                </tbody>
            </table>
            <dir-pagination-controls></dir-pagination-controls>
            <div class="clearfix"></div>
        </div>
    </div>
</div>