body {
  font-family: 'Open Sans', 'Trebuchet MS', Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  background: #fff;
  width: 100%;
}

.activ-container {
  margin: 0 auto;
  max-width: 1100px;
}

.navbar {
  background-color: #fff;
}

.navbar-header .logo {
  color: #1154a4;
  font-size: 40px;
  text-decoration: none;
  padding-right: 30px;
}

.container-fluid {
  padding: 0;
}

.header-department {
  background-color: #1154a4;
  width: 100%;
}

.header-customer {
  display: block;
  color: #fff;
  background-color: #1154a4;
  width: 100%;
  margin-top: -20px;
  padding: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.subject-one {
  padding-bottom: 50px;
  max-width: 1200px;
  padding-top: 50px;
}

.section {
  width: 320px;
  margin-right: 50px;
}

.subject-image {
  width: 320px;
  height: 230px;
}

.subject-name {
  color: #1154a4;
  font-size: 20px;
}

.subject-description {
  width: 320px;
  word-wrap: break-word;
}

.button {
  background-color: #116eab;
  border: none;
  border-radius: 0;
  font-size: 16px;
  height: 25px;
  width: 110px;
  line-height: 15px;
  margin-top: 25px;
  color: #FFFFFF;
}

.width-200 {
  width: 200px !important;
}

.activ-container-list {
  margin: 0 auto;
  max-width: 1100px;
}

.date {
  float: left;
  margin-top: 50px;
  margin-bottom: 30px;
}

.list-breadcrumbs {
  float: right;
  display: block;
  list-style: none;
  margin-top: 50px;
}

.list-breadcrumbs li {
  display: inline-block;
}

.list-breadcrumbs li:first-child::after {
  content: "|";
  padding-left: 5px;
}

.list-subject {

}

.list-subject img {
  width: 200px;
  height: auto;
  position: absolute;
}

.list-info {
  padding-left: 300px;
  margin-bottom: 50px;
}

.list-info h3 {
  font-size: 26px;
  color: #1154a4;
}

.list-info h4 {
  font-size: 18px;
  color: #7a7a7a;
}

.list-info div {
  font-size: 14px;
}

/* Camp Detail */

.header-time {
  color: #fff;
  font-size: 20px;
  margin-top: -40px;
  margin-left: 40px;
  padding-bottom: 20px;
}

.column-left {
  position: absolute;
  width: 420px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.fotogallery img:first-child {
  width: 420px;
  height: 300px;
  margin-bottom: 5px;
}

.fotogallery img:not(:first-child) {
  width: 135px;
  height: 85px;
  display: inline-block;
  margin-right: 2px;
}

.fotogallery img:last-child {
  margin-right: 0;
}

.when-and-where {
  background-color: white;
  padding: 30px;
  border: 1px solid #d4d3d3;
}

.when-and-where h3 {
  color: #116eab;
  font-size: 20px;
  margin-top: 0;
}

.information {
  color: #116eab;
}

.when-and-where img {
  width: 405px;
  height: 285px;
  margin: 0 auto;
}

.when-and-where h4 {
  color: #116eab;
  font-size: 16px;
}

.when-and-where div div {
  font-size: 14px;
}

.column-right {
  float: right;
  width: 650px;
  padding-top: 40px;
}

.subject-info h3 {
  color: #116eab;
  font-size: 20px;
  margin-top: 30px;
}

.subject-info div {
  font-size: 14px;
}

.column-right .button {
  color: #fff;
  padding: 5px;
}

/* Profile info */

.profile-information div div:first-child,
.profile-form > div:first-child,
.children-form:first-child,
.children-edit,
.child-show {
  /*padding-top: 110px;*/
}

.children-edit,
.child-show,
.profile-information {
  padding-bottom: 50px;
}

.profile-information div div p:first-child,
.profile-form label,
.children-form label,
.children-edit > div > label,
.child-show div p:first-child,
.new-booking div label {
  color: #116eab;
  display: inline-block;

  width: 18%;
  clear: left;
  text-align: right;
  font-size: 16px;
}

.children-edit > div > label {
  padding-top: 6px;
}

.children-edit .sex {
  margin-top: -8px;
}

.children-edit .treatment {
  margin-top: -5px;
}

.children-edit .epipen {
  margin-top: -8px;
}

.profile-information div div p:first-child::after,
.child-show div p:first-child::after {
  content: ":";
}

.profile-information div div p:last-child,
.profile-form > div > div,
.children-form div div,
.children-edit div div,
.child-show div p:last-child,
.child-show div div,
.new-booking div div:not(:nth-of-type(3)) {
  display: inline-block;
  padding-left: 15px;
  font-size: 16px;
  width: 75%;
}

.children-form .form-group div,
.children-edit .form-group div {
  vertical-align: top;
  display: inline-block;
}

.children-form .hint,
.children-edit .hint {
  margin-top: 6px;
}

.children-edit .radio {
  margin: 0;
}

.children-edit .radio-false {
  margin-top: -24px;
}

.children-edit .form-group div:nth-child(3) {
  width: 75%;
  margin-left: 18%;
}

.profile-form label,
.children-form label {
  padding-top: 6px;
}

.profile-form div:nth-child(15) label {
  margin-top: -10px;
}

.profile-form .form-group:last-child {
  position: relative;
  left: 95px;
}

.profile-form .form-group:last-child button:nth-child(2),
.children-edit a,
.child-show a:first-of-type {
  background-color: #ffa834;
  color: #FFFFFF;
}

.profile-form .form-group:last-child a {
  background-color: #ff3823;
  color: #FFFFFF;
}

.background-green {
  background: #79c215;
}

.background-red {
  background: #f37657;
}

.background-yellow {
  background: #fec955;
}

.child-show .buttons,
.profile-information .buttons,
.profile-form .buttons,
.children-edit .buttons,
.children-form .buttons {
  text-align: center;
}

.child-show a:first-of-type {
  margin-left: 100px;
}

.child-show a:last-of-type {
  width: 160px;
}

/* MY CHILDREN - menu*/

.my-children .vertical-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.my-children .vertical-menu li.active {
  background-color: #116eab;
}

.my-children .vertical-menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  display: block;
  width: 100%;
  height: 100%;
}

.my-children .vertical-menu li.couple {
  display: inline-block;
  width: 49.8%;
  min-width: 136px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1018px) {
  .my-children .vertical-menu li.couple {
    width: 98%;
  }

  .my-children .vertical-menu li ul {
    white-space: normal;
  }
}

@media only screen and (min-width: 1077px) {
  .my-children .vertical-menu li.couple {
    min-width: 535px;
  }
}

.my-children .vertical-menu li ul {
  white-space: nowrap;
}

.my-children .vertical-menu li li {
  display: inline-block;
  width: 49.64%;
  min-width: 91px;
  background-color: #73c8ed;
  height: 35px;
  text-align: center;
  padding-top: 10px;
}

/* MY CHILDREN - content*/
.my-children {
}

.my-children .content-container {
  padding-top: 100px;
  padding-right: 8%;
  padding-left: 8%;
  padding-bottom: 50px;
}

.my-children h3 {
  margin: 0;
  padding-left: 0;
  color: #1154a4;
  font-size: 32px;
}

.my-children .btn-add {
  display: block;
  width: 160px;
  height: 36px;
  border: #fff solid 1px;
  border-radius: 3px;
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
  margin-bottom: 55px;
}

.my-children .btn-add:hover {
  color: #fff;
}

.my-children .btn-back,
.new-booking .btn-back {
  display: inline-block;
  float: left;
  width: 160px;
  height: 42px;
  background-color: #f7f6f6;
  color: #1154a4;
  font-size: 16px;
  border: #fff solid 1px;
  border-radius: 3px;
  padding-top: 12px;
  text-align: center;
}

.my-children .btn-next,
.new-booking .btn-next {
  display: inline-block;
  float: right;
  width: 160px;
  height: 42px;
  background-color: #116eab;
  color: #fff;
  font-size: 16px;
  border: #fff solid 1px;
  border-radius: 3px;
  text-align: center;
}

/* BOOKING TABLE */

.new-booking {
  padding-top: 50px;
  padding-bottom: 50px;
}

.booking-tab {
  width: 100%;
}

.booking-tab thead {
  background-color: #1154a4;
}

.booking-tab thead tr {
  height: 50px;
}

.booking-tab thead th {
  text-align: center;
  border: 2px solid #fff;
  border-radius: 10px;
}

.booking-tab tbody tr {
  height: 100px;
}

.booking-tab tbody td {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
}

/* Confirm and Pay */

.split {
  background: #ecf0f1;
  border: 5px solid #fff;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
}

.confirm .split div.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-image: url("../image/delete.png");
  background-size: contain;
}

.confirm .split div div span.name {
  display: inline-block;
  width: 22.5%;
}

.confirm .split ul {
  list-style: none;

  padding: 0 0 0 23%;
  margin-top: -20px;

}

.distantion {
  padding-bottom: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

/* button */

div.pull-right a.button {
  width: 150px;
}

/* stars */
.obligatory {
  position: relative;
}

.obligatory::after {
  content: "*";
  position: absolute;
  right: -10px;
}

.obligatory-before {
  position: relative;
  margin-left: 10px;
}

.obligatory-before::before {
  content: "*";
  position: absolute;
  left: -10px;
}

.child-show-modal {
  padding-top: 10px;
}

.child-show-modal div p:first-child {
  width: 48%;
}

.child-show-modal div p:last-child,
.child-show-modal div div {
  width: 48%;
}

.child-show-modal a:first-of-type {
  margin-left: 200px;
}

.child-show-modal h3 {
  text-align: center;
}

.line-dashed {
  margin-top: 5px;
  margin-bottom: 5px;
  border-top: 1px dashed lightgrey;
}

.custom-well-link {
  background-color: #1154a4;
  border-radius: 0px;
}

.custom-well-link > div > h4 {
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.custom-well-link > div > span > .fa {
  color: white;
}

.children-panel > div,
.children-panel > div > div {
  width: 100% !important;
}

.children-panel > .panel-heading {
}

.children-form-panel label {
  color: #1154a4;
  display: inline-block;

  width: 18%;
  clear: left;
  text-align: right;
  font-size: 16px;
}

.children-form-panel div div {
  display: inline-block;
  padding-left: 15px;
  font-size: 16px;
  width: 75%;
}

.children-form-panel .form-group div {
  vertical-align: top;
  display: inline-block;
}

.children-form-panel .hint {
  margin-top: 6px;
}

.children-form-panel label {
  padding-top: 6px;
}

.children-form-panel .title {
  text-indent: 50px;
  color: #1154a4;
}

.margin-5 > div {
  margin: 5%;
}

.ul-without-dots {
  list-style-type: none;
}

.custom-card > span > i {
  padding: 20px;
  font-size: 7em;
  color: gainsboro;
}

.custom-card > a {
  width: 100%;
  background-color: #1154a4;
}

.navbar-customer-2 {
  padding-top: 20px;
  color: #425160;
}

.navbar-customer-2 > li > a,
.navbar-customer-2 > ul > li > a {
  color: #425160;
}

.fa {
  color: #a7b2ba;
}

.background-grey {
  background-color: #ecf0f1;
}

.header-customer-2 {
  display: block;
  color: #425160;
  background-color: #ecf0f1;
  width: 100%;
  margin-top: -20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 40px;
  font-weight: 500;
}

.card-title {
  font-weight: 300;
  color: #425160;
}

.custom-card > span > i {
  padding: 20px;
  font-size: 7em;
  color: #a7b2ba;
}

.custom-card {
  border: 1px solid #d4d3d3 !important;
}

.custom-card > a {
  background-color: #116eab;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid #d4d3d3;
}

body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  line-height: 1.42857143;
  color: #425160;
  background-color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #116eab;
  border-color: #116eab;
}

table > thead > tr {
  background-color: #116eab;
  color: white;
}

table > tbody > tr {
  background-color: white;
}

.children-panel label.children-panel-checkbox {
  width: 10px;
}

.children-panel p.children-panel-checkbox {
  margin-top: -20px;
  margin-left: 23px;
}

.span-dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 23px;
    font-weight: 100;
}

.span-dd {
    font-size: 23px;
    font-weight: bold;
}

.hr-to-dl {
    margin-top: 2px;
    margin-bottom: 4px;
    border: 0;
  border-top: 1px dashed #d4d3d3;
}

.paragraph {
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.width-full-force {
  width: 100% !important;
}

.margin-left-20-force {
  margin-left: 20%;
}

.tab-custom-active {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  border-top: 5px solid #73c8ed;
  border-bottom: 0;
}

.tab-custom {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  vertical-align: middle;
  background-color: #ecf0f1;
  border: 2px solid white;
}

.tab-custom-active > i,
.tab-custom > i {
  padding-top: 10px;
  color: #73c8ed;
}

.tab-custom-active > p,
.tab-custom > p {
  margin-top: 5px;
  font-size: 20px;
  color: #425160;
}

.dropdown-menu > li > form > button {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  background: 0;
  border: 0;
}

.info-label {
  background: #ecf0f1;
  padding: 10px;
}

select-date > div > select {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

select-date .day {
  width: 40px;
}

select-date .month {
  width: 100px;
}

select-date .year {
  width: 60px;
}

table.dataTable thead .sorting {
  background-image: url(plugins/datatables/images/sort_both.png) !important;
}

table.dataTable thead .sorting_asc {
  background-image: url(plugins/datatables/images/sort_asc.png) !important;
}

table.dataTable thead .sorting_desc {
  background-image: url(plugins/datatables/images/sort_desc.png) !important;
}
