<form data-ng-submit="CreateOrderCtrl.create()" class="new-booking">
  <div class="form-group">
    <label for="child">Participant</label>
    <div>
      <select class="form-control" id="child" data-ng-model="CreateOrderCtrl.form.child_id"
              data-ng-change="CreateOrderCtrl.selectedChild()"
              data-ng-options="child.id as (child | profile) for child in CreateOrderCtrl.children">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="course">Course</label>
    <div>
      <select class="form-control" id="course"
              data-ng-disabled="!(CreateOrderCtrl.form.child_id && CreateOrderCtrl.courses.length)"
              data-ng-model="CreateOrderCtrl.form.course_id"
              data-ng-options="course.id as (course | course) for course in CreateOrderCtrl.courses">
      </select>
    </div>
  </div>
  <div class="form-group hide">
    <label for="products">Products</label>
    <div>
      <select class="form-control" id="products" data-ng-model="CreateOrderCtrl.selectedProduct"
              data-ng-options="product.id as (product.name + ' - ' + product.price) for product in CreateOrderCtrl.products">
      </select>
    </div>
  </div>

  <a class="button btn-back" ui-sref="booking.children.index">Back</a>
  <a data-ng-if="CreateOrderCtrl.countOrders" ui-sref="booking.complete" class="button btn-back pull-right">
    Return To Order
  </a>
  <button type="submit" class="btn btn-default button btn-next" data-ng-disabled="CreateOrderCtrl.disableNext()">
    Next
  </button>


</form>

