<form data-ng-submit="EditOrderCtrl.update()">
  <div class="form-group">
    <label for="child">Participant</label>
    <select class="form-control" id="child" data-ng-model="EditOrderCtrl.form.child_id"
            data-ng-options="child.id as (child | profile) for child in EditOrderCtrl.children">
    </select>
  </div>

  <div class="form-group">
    <label for="event">Event</label>
    <select class="form-control" id="event" data-ng-model="EditOrderCtrl.form.event_id"
            data-ng-change="EditOrderCtrl.selectedEvent()"
            data-ng-options="event.id as event.name for event in EditOrderCtrl.events">
    </select>
  </div>

  <div>
    <table data-ng-if="EditOrderCtrl.form.event_id">
      <thead>
      <tr>
        <th>Week/Dates</th>
        <th>Full week</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="week in EditOrderCtrl.form.weeks">
        <td>{{ week.monday | date }} - {{ week.friday | date }}</td>
        <td>
          <label>
            <input type="checkbox" data-ng-model="week.selected" data-ng-disabled="!week.allow">Full week
          </label>
        </td>
        <td data-ng-repeat="weekday in week.dates" data-ng-class="{'background-green': weekday.allow, 'background-red': !weekday.allow }">
          <input type="checkbox" data-ng-model="weekday.selected" data-ng-disabled="!weekday.allow"> {{ weekday.date | date }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <button type="submit" class="btn btn-default">
    Update Order
  </button>
</form>

<a ui-sref="^.index">All orders</a>