<div class="confirm">
  <div id="children">
    <h3>Booking details</h3>


    <div class="order" data-ng-repeat="order in CompleteCtrl.orders">
      <div class="split">

        <h4 class="child">
          {{ order.child | profile }} / Age {{ order.child | age }} years

        </h4>
        <div>
          <div>
            <span class="name">Course</span> <span>{{ order.course | course }}</span>
          </div>
          <div>
            <span class="name">Course period</span> <span>{{ order.course.start_date | fullDate }} - {{ order.course.end_date | fullDate }}</span>
          </div>
          <div>
            <span class="name">Price</span> <span>{{ order.sum | currencyLb }}</span>
          </div>
        </div>
        <div class="close" data-ng-click="CompleteCtrl.remove(order)">
        </div>
      </div>

    </div>

  </div>

  <button class="btn btn-primary" ui-sref="booking.orders.create">Add sibling/additional booking</button>

  <div>
    <h3>Code</h3>
    <div class="form-group">
      <input data-ng-disabled="CompleteCtrl.couponApplied" type="text" class="form-control" id="coupon"
             placeholder="The Activ Foundation Code" data-ng-model="CompleteCtrl.form.coupon">
      <small class="form-text text-muted">Available to certain groups only - otherwise leave blank</small>
    </div>
    <button data-ng-hide="CompleteCtrl.couponApplied"
            data-ng-disabled="CompleteCtrl.request" class="btn btn-success"
            data-ng-click="CompleteCtrl.applyCoupon()">Apply
    </button>
    <button data-ng-show="CompleteCtrl.couponApplied" class="btn btn-danger"
            data-ng-click="CompleteCtrl.cancelCoupon()">Cancel
    </button>
  </div>


  <div id="cost">
    <h3>Cost</h3>
    <div class="info-label">
      <span>Selected course:</span> <span>{{ CompleteCtrl.orders.sum | currencyLb }}</span><br>
      <span>Foundation discount:</span> <span>{{ CompleteCtrl.orders.coupon | currencyLb }}</span><br>
      <span>Total pay:</span> <span>{{ CompleteCtrl.orders.total | currencyLb }}</span><br>
    </div>
    <!--<div class="hide">-->
    <!--<span>Extras:</span> <span>{{ 0 | currencyLb }}</span>-->
    <!--</div>-->
  </div>

  <div data-ng-show="CompleteCtrl.orders.total">
    <h3>Method of payment</h3>

    <div class="info-label">
      <div class="radio" data-ng-init="CompleteCtrl.form.payment_type=paymentType.value"
           data-ng-repeat="paymentType in CompleteCtrl.paymentTypes">
        <label>
          <input type="radio" name="payment-type" id="optionsRadios1" value="{{ paymentType.value }}"
                 data-ng-model="CompleteCtrl.form.payment_type">
          {{ paymentType.title }}
        </label>
      </div>

      <div class="checkbox" data-ng-if="CompleteCtrl.allowRequestRegister()">
        <label uib-tooltip='Selecting this option will register your interest in the event. The booking will only be confirmed once payment is made.'>
          <input type="checkbox"
                 data-ng-model="CompleteCtrl.form.requested_register"
                 name="checkbox">Tick if course is being funded by an official third party body
        </label>
      </div>

      <div class="radio" data-ng-if="CompleteCtrl.allowRequestDeposit()"
           data-ng-repeat="payOption in CompleteCtrl.payOptions">
        <label>
          <input type="radio" value="{{ payOption.value }}"
                 data-ng-model="CompleteCtrl.form.pay_option">{{ payOption.title }}
        </label>
      </div>
      <!--<div ng-if="CompleteCtrl.form.payment_type == 'online' && CompleteCtrl.paymentSystems.length > 1">-->
      <!--Payment System:-->
      <!--<div class="radio" data-ng-repeat="paymentSystem in CompleteCtrl.paymentSystems">-->
      <!--<label>-->
      <!--<input type="radio" name="payment-system" id="optionsRadios2" value="{{ paymentSystem.system }}"-->
      <!--data-ng-model="CompleteCtrl.form.payment_system">-->
      <!--{{ paymentSystem.title }}-->
      <!--</label>-->
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>

  <div>
    <h3>Agreement</h3>

    <div class="info-label">
      <div class="checkbox">
        <label>
          <input type="checkbox"
                 data-ng-model="CompleteCtrl.agreed"
                 name="checkbox">I am the legal guardian of the participant named in this booking and
          certify to the best of my knowledge that all the information provided is accurate. I understand that payment
          is
          non-refundable and that I have read the booking <a href="http://www.activadventures.com/btc/"
                                                             target="_blank">terms and conditions</a>.
        </label>
      </div>
    </div>
  </div>

  <div>
    <br>
    <button class="btn btn-primary" data-ng-disabled="!CompleteCtrl.agreed || CompleteCtrl.request"
            data-ng-click="CompleteCtrl.book()">Book
    </button>
  </div>

</div>