.glyphicon-quote:after {
  display: none;
}

.profile-avatar {
  width: 150px;
  border-radius: 50% !important;
  border: 1px solid #ddd;

}

div.full-width {
  width: 100%;
  margin: 0 30px;
  padding: 0px;
}

div.full-width-admin {
  margin: 0 30px;
  padding: 0px;
}

.background-green {
  background: #79c215;
}

.page-content-inner .dataTables_wrapper table {
  width: 100% !important;
}

.dataTable .btn {
  margin-top: 5px;
}

.background-red {
  background: #f37657;
}

.background-yellow {
  background: #fec955;
}

/* BOOKING TABLE */

.new-booking {
  padding-top: 50px;
  padding-bottom: 50px;
}

.booking-tab {
  width: 100%;
}

.booking-tab thead {
  background-color: #93cb40;
}

.booking-tab thead tr {
  height: 50px;
}

.booking-tab thead th {
  text-align: center;
  border: 2px solid #fff;
  border-radius: 10px;
}

.booking-tab tbody tr {
  height: 100px;
}

.booking-tab tbody td {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
}

/* Confirm and Pay */

.split {
  background: #fff;
  border: 5px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 10px 10px 10px;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
}

.confirm .split div.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-image: url("/image/delete.png");
  background-size: contain;
}

.confirm .split div div span.name {
  display: inline-block;
  width: 22.5%;
}

.confirm .split ul {
  list-style: none;

  padding: 0 0 0 23%;
  margin-top: -20px;

}

.distantion {
  padding-bottom: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-15 {
  margin-top: 15px;
}

/* Exception date */

#exception-date-example {
  display: none;
}

.exception-dates li {
  list-style: none;
  display: block;
}

.dataTables_wrapper > .btn-group,
.event-buttons {
  margin-bottom: 10px;
}

a.disable {
  pointer-events: none;
  cursor: default;
}

.event-name {
  padding-left: 0 !important;
}

tr.row-venue {
  /*background: #23de47;*/
}

tr.row-event {
  background: #93cb40 !important;
}

tr.row-total,
tr#row-final {
  background: #efdd48 !important;
}

tr.row-total td.zero,
tr#row-final td.zero {
  background: #cb4040 !important;
}

tr#row-final {
  color: black;
}

tr.row-empty td {
  border-right: 0 !important;
}

tr.row-empty td:first-child {
  border-left: 0 !important;
}

.show-text {
  white-space: pre-wrap;
}

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#overlay div {
  margin: 0 auto;
}

.save-payment-systems {
  margin-left: 20px;
  margin-top: 10px;
}

.table-text-center td,
.table-text-center th {
  text-align: center;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.margin-right-10 {
  padding-right: 20px !important;
}

.children-panel {
  margin: 20px;
}

.confirm .split div.close-x {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-image: url(/image/delete.png) !important;
  background-size: contain;
}

.report-medical-field {
  min-width: 700px;
}

.max-height {
  height: 100%;
}

.footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid #e7eaec;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  right: 0;
}

.dl-horizontal-message dt {
  float: left;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}

.dl-horizontal-message dd {
  margin-left: 65px;
}

.title-action {
  top: -42px;
  position: relative;
}

.show-editor > .redactor-box > .redactor-toolbar {
    position: relative !important;
    width: auto !important;
    top: auto !important;
    left: auto !important;
    visibility: visible !important;
}

.modal-open > .redactor-dropdown {
    z-index: 100000 !important;
}

.modal-open > #redactor-modal-box {
    z-index: 1000000 !important;
}