.event-main-photo {
    height: auto;
    width: 415px;
}

.event-other-photo {
    height: 84px !important;
    width: auto;
}

.min-photo {
    max-height: 300px;
    max-width: 300px;
}

.photo-wrap {
    position: relative;
}

.photo-wrap .remove-photo {
    position: absolute;
    top: 4px;
    right: 4px;
    opacity: 0.4;
    z-index: 100;
}

.photo-wrap .remove-photo:hover {
    opacity: 0.8;
}