<div id="overlay" data-ng-show="SendCtrl.loading">
    <div>
        <div class="loading-message">
            <div class="block-spinner-bar">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
</div>
<div class="portlet light portlet-fit portlet-datatable ">
    <div class="portlet-title">
        <div class="caption">
            Groups to Messages Send
        </div>
        <div class="actions">
            <a ui-sref="sent.index" class="btn blue">All messages</a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="mt-radio-inline">
            <label class="mt-radio mt-radio-outline">
                <input type="radio" name="mode" value="1"
                       data-ng-disabled="SendCtrl.disableFilterCustomers"
                       data-ng-model="SendCtrl.filterCustomers"
                       data-ng-click="SendCtrl.viewSchools()">
                Schools
                <span></span>
            </label>
            <label class="mt-radio mt-radio-outline">
                <input type="radio" name="mode" value="2"
                       data-ng-disabled="SendCtrl.disableFilterCustomers"
                       data-ng-model="SendCtrl.filterCustomers"
                       data-ng-click="SendCtrl.viewCourse()">
                Course Parts
                <span></span>
            </label>
            <label class="mt-radio mt-radio-outline">
                <input type="radio" name="mode" value="3"
                       data-ng-disabled="SendCtrl.disableFilterCustomers"
                       data-ng-model="SendCtrl.filterCustomers"
                       data-ng-click="SendCtrl.viewAllCustomers()">
              Individuals
                <span></span>
            </label>
        </div>
        <div class="mt-radio-inline">
            <label class="mt-radio mt-radio-outline" data-ng-repeat="recipient in SendCtrl.recipients">
                <input type="radio" name="recipient" value="{{ recipient.value }}"
                       data-ng-model="SendCtrl.form.recipient">
                {{ recipient.title }}
                <span></span>
            </label>
        </div>
        <div class="row" data-ng-show="SendCtrl.isSchools || SendCtrl.isCourses">
            <div class="col-md-3 col-sm-6 col-xs12 pull-right">
                <form>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-search"></i></div>
                            <input type="text" class="form-control" placeholder="Search" ng-model="SendCtrl.search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-container">
            <div data-ng-show="SendCtrl.isSchools">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <a href
                               data-ng-click="SendCtrl.sortType = 'name'; SendCtrl.sortReverse = !SendCtrl.sortReverse">
                                Name
                                <span data-ng-if="SendCtrl.sortType == 'name'" class="fa"
                                      data-ng-class="{'fa-caret-up': !SendCtrl.sortReverse, 'fa-caret-down': SendCtrl.sortReverse}">
                                             </span>
                            </a>
                        </th>
                        <th>
                            <a href
                               data-ng-click="SendCtrl.sortType = 'code'; SendCtrl.sortReverse = !SendCtrl.sortReverse">
                                Code
                                <span data-ng-if="SendCtrl.sortType == 'code'" class="fa"
                                      data-ng-class="{'fa-caret-up': !SendCtrl.sortReverse, 'fa-caret-down': SendCtrl.sortReverse}">
                                             </span>
                            </a>
                        </th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-dir-paginate="school in SendCtrl.schools
                    | filter:SendCtrl.search
                    | orderBy: SendCtrl.sortType: SendCtrl.sortReverse
                    | itemsPerPage: 5"
                        pagination-id="schools" data-ng-class="{'info':  SendCtrl.selectGroup.school == school.id}">
                        <td>{{ school.name }}</td>
                        <td>{{ school.code }}</td>
                        <td>
                            <button class="btn blue" data-ng-disabled="SendCtrl.selectGroup.school == school.id"
                                    data-ng-click="SendCtrl.getCustomersInSchool(school.id)">
                                Select
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <dir-pagination-controls pagination-id="schools"></dir-pagination-controls>
            </div>
            <div data-ng-show="SendCtrl.isCourses">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <a href
                               data-ng-click="SendCtrl.sortType = 'name'; SendCtrl.sortReverse = !SendCtrl.sortReverse">
                                Name
                                <span data-ng-if="SendCtrl.sortType == 'name'" class="fa"
                                      data-ng-class="{'fa-caret-up': !SendCtrl.sortReverse, 'fa-caret-down': SendCtrl.sortReverse}">
                                             </span>
                            </a>
                        </th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-dir-paginate="part in SendCtrl.courseParts
                    | filter:SendCtrl.search
                    | orderBy: SendCtrl.sortType: SendCtrl.sortReverse
                    | itemsPerPage: 5"
                        pagination-id="courses"
                        data-ng-class="{'info':  SendCtrl.selectGroup.course == part.id || (part.course_id === SendCtrl.courseId)}">
                        <td>{{ part | courseFullName }}</td>
                        <td>
                            <button class="btn blue"
                                    data-ng-disabled="SendCtrl.selectGroup.course == part.id || (part.course_id === SendCtrl.courseId)"
                                    data-ng-click="SendCtrl.getCustomersInCoursePart(part.id)">Select
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <dir-pagination-controls pagination-id="courses"></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>

<div class="row" data-ng-hide="SendCtrl.customers.length == undefined">
    <div class="col-md-4">
        <div class="portlet light portlet-fit portlet-datatable">
            <div class="portlet-title">
                <div class="caption">
                    Create message
                </div>
            </div>
            <div class="portlet-body">
                <form enctype="multipart/form-data">
                    <div>
                        <label class="control-label">Mode</label>
                    </div>
                    <div class="mt-radio-inline">
                        <label class="mt-radio mt-radio-outline">
                            <input type="radio" name="mode" data-ng-model="SendCtrl.form.mode"
                                   data-ng-value="1">
                            Email
                            <span></span>
                        </label>
                        <label class="mt-radio mt-radio-outline">
                            <input type="radio" name="mode" data-ng-click="SendCtrl.clearFile()"
                                   data-ng-model="SendCtrl.form.mode" data-ng-value="2">
                            SMS
                            <span></span>
                        </label>
                    </div>

                    <div class="form-group" data-ng-hide="SendCtrl.form.mode == 2">
                        <label class="control-label">Subject</label>
                        <input class="form-control" type="text" name="subject" data-ng-model="SendCtrl.form.subject"
                               placeholder="Subject">
                    </div>

                    <div data-ng-if="SendCtrl.form.mode === 1" class="form-group">
                        <label class="control-label">Message</label>
                        <textarea class="form-control" redactor name="text" data-ng-model="SendCtrl.form.text"
                                  placeholder="Message"></textarea>
                    </div>

                    <div data-ng-if="SendCtrl.form.mode === 2" class="form-group">
                        <label class="control-label">Message</label>
                        <textarea class="form-control" name="text" data-ng-model="SendCtrl.form.text"
                                  placeholder="Message"></textarea>
                    </div>

                    <div class="form-group" data-ng-hide="SendCtrl.form.mode == 2">
                        <label for="file">Attachment</label>
                        <input type="file" ngf-select id="file" multiple="multiple"
                               data-ng-disabled="SendCtrl.form.mode == 2"
                               data-ng-model="SendCtrl.form.file">
                    </div>

                    <button class="btn btn-success" data-ng-disabled="SendCtrl.loading"
                            data-ng-click="SendCtrl.sendMessage()">Send
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="portlet light portlet-fit portlet-datatable">
            <div class="portlet-title">
                <div class="caption">
                    Customers
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs12 pull-right">
                        <form>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                    <input type="text" class="form-control" placeholder="Search"
                                           ng-model="SendCtrl.searchCustomer">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th data-ng-click="SendCtrl.sortByColumn('selected')">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" data-ng-change="SendCtrl.toggleAllSelected()"
                                       data-ng-model="SendCtrl.isAllSelected">
                                <span></span>
                            </label>
                            <span data-ng-if="SendCtrl.orderBy.column === 'selected'" class="pull-right fa"
                                  data-ng-class="{'fa-caret-up': !SendCtrl.orderBy.reverse, 'fa-caret-down': SendCtrl.orderBy.reverse}">
                            </span>
                        </th>
                        <th data-ng-click="SendCtrl.sortByColumn('first_name')">Full Name
                            <span data-ng-if="SendCtrl.orderBy.column === 'first_name'" class="pull-right fa"
                                  data-ng-class="{'fa-caret-up': !SendCtrl.orderBy.reverse, 'fa-caret-down': SendCtrl.orderBy.reverse}">
                            </span>
                        </th>
                        <th>Mobile</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-dir-paginate="customer in SendCtrl.customers | filter: SendCtrl.searchCustomer | itemsPerPage: 5"
                        pagination-id="customers">
                        <td>
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" data-ng-model="customer.selected"
                                       data-ng-change="SendCtrl.toggleSelected()">
                                <span></span>
                            </label>
                        </td>
                        <td>{{ customer.first_name }} {{ customer.last_name }}</td>
                        <td>{{ customer.mobile }}</td>
                        <td>{{ customer.email }}</td>
                    </tr>
                    </tbody>
                </table>
                <dir-pagination-controls pagination-id="customers"></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>