<div>
  <div class="modal-header">
    <h3 class="modal-title">Confirmation of removing!</h3>
  </div>
  <div class="modal-body">
    Are you sure you want to remove this participant?
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" data-ng-click="ConfirmRemoveChildCtrl.ok()">Yes</button>
    <button class="btn btn-warning" type="button" data-ng-click="ConfirmRemoveChildCtrl.cancel()">No</button>
  </div>
</div>