<form data-ng-submit="CreateChildCtrl.create()" class="children-form">

  <div class="panel panel-info children-panel">
    <div class="panel-heading"><strong>Details of participant</strong></div>
    <div class="panel-body children-form-panel">
      <div class="form-group">
        <label for="school" class="obligatory">School</label>
        <div>
          <input type="text" class="form-control" id="school" name="school"
                 placeholder="Enter the correct school code as stated on the event information letter"
                 data-ng-model="CreateChildCtrl.form.school_code">
          <small class="form-text text-muted">Enter the correct school code</small>
        </div>
      </div>
      <div class="form-group">
        <label for="first_name" class="obligatory">Forename</label>
        <div>
          <input type="text" class="form-control" id="first_name" placeholder="Forename"
                 data-ng-model="CreateChildCtrl.form.first_name">
        </div>
      </div>
      <div class="form-group">
        <label for="last_name" class="obligatory">Surname</label>
        <div>
          <input type="text" class="form-control" id="last_name" placeholder="Surname"
                 name="last_name"
                 data-ng-model="CreateChildCtrl.form.last_name">
        </div>
      </div>
      <div class="form-group">
        <label for="birthday" class="obligatory">Date of Birth</label>
        <div class="form-group" style="height: 16px">
          <!--<p class="input-group">-->
          <!--<input type="text" class="form-control"-->
          <!--id="birthday"-->
          <!--uib-datepicker-popup="dd-MM-yyyy"-->
          <!--ng-model="CreateChildCtrl.form.birthday"-->
          <!--is-open="CreateChildCtrl.datePickerOpen" ng-required="true"-->
          <!--close-text="Close"/>-->
          <!--<span class="input-group-btn" style="position: relative; bottom: 11px">-->
          <!--<button type="button" class="btn btn-default"-->
          <!--ng-click="CreateChildCtrl.datePickerOpen = !CreateChildCtrl.datePickerOpen"><i-->
          <!--class="glyphicon glyphicon-calendar"></i></button>-->
          <!--</span>-->
          <!--</p>-->
          <select-date id="birthday" ng-model="CreateChildCtrl.form.birthday"></select-date>
        </div>
      </div>
      <div class="form-group">
        <label for="sex" class="obligatory">Male / Female</label>
        <div>
          <select name="sex" id="sex" class="form-control" data-ng-model="CreateChildCtrl.form.sex">
            <option value="1">Male</option>
            <option value="0">Female</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="obligatory">Email</label>
        <div>
          <input type="email" class="form-control" id="email" placeholder="Participant's Email"
                 name="email"
                 data-ng-model="CreateChildCtrl.form.email">
          <small class="form-text text-muted">Required for event information being sent directly to
            participant
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="confirm_email" class="obligatory">Confirm Email</label>
        <div>
          <input type="email" class="form-control" id="confirm_email" placeholder="Confirm Email"
                 name="email"
                 data-ng-model="CreateChildCtrl.form.email_confirmation">
        </div>
      </div>
      <div class="form-group">
        <label for="mobile" class="obligatory">Mobile</label>
        <div>
          <input type="text" class="form-control" id="mobile" placeholder="Mobile"
                 data-ng-model="CreateChildCtrl.form.mobile">
          <small class="form-text text-muted">Mobile carried by participant on events if we need to contact
            them in an emergency
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="home_address" class="obligatory">Home Address</label>
        <div>
          <input type="text" class="form-control" id="home_address" placeholder="Home Address"
                 data-ng-model="CreateChildCtrl.form.home_address">
        </div>
      </div>
      <div class="form-group">
        <label for="home_postcode" class="obligatory">Home Postcode</label>
        <div>
          <input type="text" class="form-control" id="home_postcode"
                 placeholder="Home Postcode" name="home_postcode"
                 data-ng-model="CreateChildCtrl.form.home_postcode">
        </div>
      </div>
      <div class="form-group">
        <label for="doctor_name" class="obligatory">Doctor's Name</label>
        <div>
          <input type="text" class="form-control" id="doctor_name" placeholder="Doctor's Name"
                 name="doctor_name"
                 data-ng-model="CreateChildCtrl.form.doctor_name">
        </div>
      </div>
      <div class="form-group">
        <label for="doctor_telephone_number" class="obligatory">Doctor's Telephone Number</label>
        <div>
          <input type="text" class="form-control" id="doctor_telephone_number"
                 placeholder="Doctor's Telephone Number" name="doctor_telephone_number"
                 data-ng-model="CreateChildCtrl.form.doctor_telephone_number">
        </div>
      </div>
      <div class="form-group">
        <label for="year_in_school" class="obligatory">Year in School</label>
        <div>
          <select class="form-control" name="year_in_school" id="year_in_school"
                  data-ng-model="CreateChildCtrl.form.year_in_school_id"
                  data-ng-options="year.id as year.title for year in CreateChildCtrl.yearsInSchool"></select>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info children-panel">
    <div class="panel-heading"><strong>Medical Questions</strong></div>
    <div class="panel-body children-form-panel">
      <div data-ng-repeat="category in CreateChildCtrl.questions_in_categories">
        <p>
        <h4 style="color: #116eab;">{{ category.title }}</h4></p>
        <p><i>{{ category.description }}</i></p>
        <div data-ng-repeat="question in category.questions" class="width-full-force">
          <div class="width-full-force">
            <input type="checkbox" class="pull-right margin-left-20-force"
                   data-ng-model="CreateChildCtrl.form.answers[question.id].answer"
                   data-ng-false-value="0"
                   data-ng-true-value="1">

            {{ question.title }}
          </div>
          <div class="form-group width-full-force" data-ng-show="CreateChildCtrl.form.answers[question.id].answer">
                <textarea class="form-control" data-ng-model="CreateChildCtrl.form.answers[question.id].text"
                          rows="3" placeholder="{{ question.placeholder }}"></textarea>
          </div>
          <hr class="line-dashed">
        </div>
      </div>

      <h4 style="color: #116eab;">Declaration</h4>

      <div class="checkbox">
        <label class="children-panel-checkbox">
          <input type="checkbox" name="checkbox" data-ng-model="CreateChildCtrl.medical_term_first">
        </label>
        <p class="children-panel-checkbox">In the event of an accident, you give consent to any necessary
          emergency treatment to be given by the medical authorities present. You also authorise the leader(s)
          to sign, on your behalf, any written form of consent required, provided that in the opinion of the
          doctor/surgeon any delay could endanger the health and safety of the Participant.
        </p>
      </div>
      <div class="checkbox">
        <label class="children-panel-checkbox">
          <input type="checkbox" name="checkbox" data-ng-model="CreateChildCtrl.medical_term_second">
        </label>
        <p class="children-panel-checkbox">It is your responsibility to ensure all medical conditions relating to
          the participant are fully declared above. Activ reserves the right to exclude the participant from any event
          if any known medical conditions are not fully declared.
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-info children-panel">
    <div class="panel-heading"><strong>Emergency contact details</strong></div>
    <div class="panel-body children-form-panel">
      <p class="title">We require details of two Responsible Adults who can be contacted during the event in case
        of an emergency.</p>
      <p class="title"><strong>Main Contact</strong> (either you or someone else as long as they are available during
        event)</p>
      <div class="form-group">
        <label for="main_contact_forename" class="obligatory">Forename</label>
        <div>
          <input type="text" class="form-control" id="main_contact_forename" placeholder="Forename"
                 data-ng-model="CreateChildCtrl.form.main_contact.forename">
        </div>
      </div>
      <div class="form-group">
        <label for="main_contact_surname" class="obligatory">Surname</label>
        <div>
          <input type="text" class="form-control" id="main_contact_surname" placeholder="Surname"
                 data-ng-model="CreateChildCtrl.form.main_contact.surname">
        </div>
      </div>
      <div class="form-group">
        <label for="main_contact_relationship" class="obligatory">Relationship to Participant</label>
        <div>
          <input type="text" class="form-control" id="main_contact_relationship"
                 placeholder="Relationship to Participant"
                 data-ng-model="CreateChildCtrl.form.main_contact.relationship">
        </div>
      </div>
      <div class="form-group">
        <label for="main_contact_mobile" class="obligatory">Mobile Number</label>
        <div>
          <input type="text" class="form-control" id="main_contact_mobile" placeholder="Mobile Number"
                 data-ng-model="CreateChildCtrl.form.main_contact.mobile">
        </div>
      </div>
      <div class="form-group">
        <label for="main_contact_alternative_number">Alternative contact number</label>
        <div>
          <input type="text" class="form-control" id="main_contact_alternative_number"
                 placeholder="Alternative contact number"
                 data-ng-model="CreateChildCtrl.form.main_contact.alternative_number">
        </div>
      </div>

      <p class="title"><strong>Second Contact</strong> (This can not be the same as the person above.)</p>
      <div class="form-group">
        <label for="second_contact_forename" class="obligatory">Forename</label>
        <div>
          <input type="text" class="form-control" id="second_contact_forename" placeholder="Forename"
                 data-ng-model="CreateChildCtrl.form.second_contact.forename">
        </div>
      </div>
      <div class="form-group">
        <label for="second_contact_surname" class="obligatory">Surname</label>
        <div>
          <input type="text" class="form-control" id="second_contact_surname" placeholder="Surname"
                 data-ng-model="CreateChildCtrl.form.second_contact.surname">
        </div>
      </div>
      <div class="form-group">
        <label for="second_contact_relationship" class="obligatory">Relationship to Participant</label>
        <div>
          <input type="text" class="form-control" id="second_contact_relationship"
                 placeholder="Relationship to Participant"
                 data-ng-model="CreateChildCtrl.form.second_contact.relationship">
        </div>
      </div>
      <div class="form-group">
        <label for="second_contact_mobile" class="obligatory">Mobile Number</label>
        <div>
          <input type="text" class="form-control" id="second_contact_mobile" placeholder="Mobile Number"
                 data-ng-model="CreateChildCtrl.form.second_contact.mobile">
        </div>
      </div>
      <div class="form-group">
        <label for="second_contact_alternative_number">Alternative contact number</label>
        <div>
          <input type="text" class="form-control" id="second_contact_alternative_number"
                 placeholder="Alternative contact number"
                 data-ng-model="CreateChildCtrl.form.second_contact.alternative_number">
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info children-panel">
    <div class="panel-heading"><strong>Second Parent Details</strong></div>
    <div class="panel-body children-form-panel">
      <div class="form-group">
        <label for="parent_first_name">Forename</label>
        <div>
          <input type="text" class="form-control" id="parent_first_name" placeholder="First Name"
                 data-ng-model="CreateChildCtrl.form.second_parent.first_name">
        </div>
      </div>
      <div class="form-group">
        <label for="parent_last_name">Surname</label>
        <div>
          <input type="text" class="form-control" id="parent_last_name" placeholder="Last Name"
                 data-ng-model="CreateChildCtrl.form.second_parent.last_name">
        </div>
      </div>
      <div class="form-group">
        <label for="parent_email">Email</label>
        <div>
          <input type="text" class="form-control" id="parent_email" placeholder="Email"
                 data-ng-model="CreateChildCtrl.form.second_parent.email">
        </div>
      </div>
      <div class="form-group">
        <label for="parent_phone">Phone</label>
        <div>
          <input type="text" class="form-control" id="parent_phone" placeholder="Phone"
                 data-ng-model="CreateChildCtrl.form.second_parent.phone">
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
    <a ui-sref="^.index" class="btn button">Back</a>
    <button type="submit" class="btn btn-default button">
      Create
    </button>
  </div>
</form>