<form data-ng-submit="EditChildCtrl.update()" class="children-edit">
  <div class="panel panel-info children-panel">
    <div class="panel-heading"><strong>Details of participant</strong></div>
    <div class="panel-body children-form-panel">
      <div class="form-group">
        <label for="school" class="obligatory">School</label>
        <div>
          {{ EditChildCtrl.form.school.name }}<a
            data-ng-click="EditChildCtrl.form.show_school = ! EditChildCtrl.form.show_school"
            class="btn btn-primary btn-xs pull-right">Change</a>
          <input data-ng-if="EditChildCtrl.form.show_school" type="text" class="form-control" id="school"
                 name="school"
                 placeholder="Enter the correct school code as stated on the event information letter"
                 data-ng-model="EditChildCtrl.form.school_code">
        </div>
      </div>
      <div class="form-group">
        <label for="first_name" class="obligatory">Forename</label>
        <div>
          <input type="text" class="form-control" id="first_name" placeholder="Forename"
                 data-ng-model="EditChildCtrl.form.first_name">
        </div>
      </div>
      <div class="form-group">
        <label for="last_name" class="obligatory">Surname</label>
        <div>
          <input type="text" class="form-control" id="last_name" placeholder="Surname"
                 name="last_name"
                 data-ng-model="EditChildCtrl.form.last_name">
        </div>
      </div>
      <div class="form-group">
        <label for="birthday" class="obligatory">Date of Birth</label>
        <div class="form-group" style="height: 16px">
          <!--<p class="input-group">-->
          <!--<input type="text" class="form-control"-->
          <!--id="birthday"-->
          <!--uib-datepicker-popup="dd-MM-yyyy"-->
          <!--ng-model="EditChildCtrl.form.birthday"-->
          <!--is-open="EditChildCtrl.datePickerOpen" ng-required="true"-->
          <!--close-text="Close"/>-->
          <!--<span class="input-group-btn" style="position: relative; bottom: 11px">-->
          <!--<button type="button" class="btn btn-default"-->
          <!--ng-click="EditChildCtrl.datePickerOpen = !EditChildCtrl.datePickerOpen"><i-->
          <!--class="glyphicon glyphicon-calendar"></i></button>-->
          <!--</span>-->
          <!--</p>-->
          <select-date id="birthday" ng-model="EditChildCtrl.form.birthday"></select-date>
        </div>
      </div>
      <div class="form-group">
        <label class="sex" class="obligatory">Male / Female</label>
        <div class="radio">
          <label>
            <input type="radio" name="sex" data-ng-model="EditChildCtrl.form.sex" data-ng-value="'1'">
            Male
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="sex" data-ng-model="EditChildCtrl.form.sex" data-ng-value="'0'">
            Female
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="obligatory">Email</label>
        <div>
          <input type="email" class="form-control" id="email" placeholder="Email"
                 name="email"
                 data-ng-model="EditChildCtrl.form.email">
          <small class="form-text text-muted">Required for event information being sent directly to
            participant
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="mobile" class="obligatory">Mobile</label>
        <div>
          <input type="text" class="form-control" id="mobile" placeholder="Mobile"
                 data-ng-model="EditChildCtrl.form.mobile">
          <small class="form-text text-muted">Mobile carried by participant on events if we need to contact
            them in an emergency
          </small>
        </div>
      </div>
      <div class="form-group">
        <label for="home_address" class="obligatory">Home Address</label>
        <div>
          <input type="text" class="form-control" id="home_address" placeholder="Home Address"
                 data-ng-model="EditChildCtrl.form.home_address">
        </div>
      </div>
      <div class="form-group">
        <label for="home_postcode" class="obligatory">Home Postcode</label>
        <div>
          <input type="text" class="form-control" id="home_postcode"
                 placeholder="Home Postcode" name="home_postcode"
                 data-ng-model="EditChildCtrl.form.home_postcode">
        </div>
      </div>
      <div class="form-group">
        <label for="doctor_name" class="obligatory">Doctor's Name</label>
        <div>
          <input type="text" class="form-control" id="doctor_name" placeholder="Doctor's Name"
                 name="doctor_name"
                 data-ng-model="EditChildCtrl.form.doctor_name">
        </div>
      </div>
      <div class="form-group">
        <label for="doctor_telephone_number" class="obligatory">Doctor's Telephone Number</label>
        <div>
          <input type="text" class="form-control" id="doctor_telephone_number"
                 placeholder="Doctor's Telephone Number" name="doctor_telephone_number"
                 data-ng-model="EditChildCtrl.form.doctor_telephone_number">
        </div>
      </div>
      <div class="form-group">
        <label for="year_in_school" class="obligatory">Year in School</label>
        <div>
          <select class="form-control" name="year_in_school" id="year_in_school"
                  data-ng-model="EditChildCtrl.form.year_in_school_id"
                  data-ng-options="year.id as year.title for year in EditChildCtrl.yearsInSchool"></select>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info children-panel">
    <div class="panel-heading"><strong>Medical Questions</strong></div>
    <div class="panel-body children-form-panel">
      <div data-ng-repeat="category in EditChildCtrl.questions_in_categories">
        <p>
        <h4 style="color: #116eab;">{{ category.title }}</h4>
        </p>
        <p><i>{{ category.description }}</i></p>
        <div data-ng-repeat="question in category.questions" class="width-full-force">
          <div class="width-full-force">
            <input type="checkbox" class="pull-right margin-left-20-force"
                   data-ng-model="EditChildCtrl.form.answers[question.id].answer"
                   data-ng-false-value="0"
                   data-ng-true-value="1">
            {{ question.title }}
          </div>
          <div class="form-group width-full-force" data-ng-show="EditChildCtrl.form.answers[question.id].answer">
                <textarea class="form-control" data-ng-model="EditChildCtrl.form.answers[question.id].text"
                          rows="3" placeholder="{{ question.placeholder }}"></textarea>
          </div>
          <hr class="line-dashed">
        </div>
      </div>

      <h4 style="color: #116eab;">Declaration</h4>

      <div class="checkbox">
        <label class="children-panel-checkbox">
          <input type="checkbox" name="checkbox" data-ng-model="EditChildCtrl.medical_term_first">
        </label>
        <p class="children-panel-checkbox">In the event of an accident, you give consent to any necessary
          emergency treatment to be given by the medical authorities present. You also authorise the leader(s) to sign,
          on your behalf, any written form of consent required, provided that in the opinion of the doctor/surgeon any
          delay could endanger the health and safety of the Participant.
        </p>
      </div>
      <div class="checkbox">
        <label class="children-panel-checkbox">
          <input type="checkbox" name="checkbox" data-ng-model="EditChildCtrl.medical_term_second">
        </label>
        <p class="children-panel-checkbox">It is your responsibility to ensure all medical conditions relating to
          the participant are fully declared above. Activ reserves the right to exclude the participant from any event
          if any known medical conditions are not fully declared.
        </p>
      </div>
    </div>
  </div>

  <div class="panel panel-info children-panel">
    <div class="panel-heading"><strong>Emergency contact details</strong></div>
    <div class="panel-body children-form-panel">
      <p class="title">We require details of two Responsible Adults who can be contacted during the event in case
        of an emergency.</p>
      <p class="title"><strong>Main Contact</strong> (either you or someone else as long as available during
        event)</p>
      <div class="form-group">
        <label for="main_contact_forename" class="obligatory">Forename</label>
        <div>
          <input type="text" class="form-control" id="main_contact_forename" placeholder="Forename"
                 data-ng-model="EditChildCtrl.form.emergency_contacts[0].forename">
        </div>
      </div>
      <div class="form-group">
        <label for="main_contact_surname" class="obligatory">Surname</label>
        <div>
          <input type="text" class="form-control" id="main_contact_surname" placeholder="Surname"
                 data-ng-model="EditChildCtrl.form.emergency_contacts[0].surname">
        </div>
      </div>
      <div class="form-group">
        <label for="main_contact_relationship" class="obligatory">Relationship to Participant</label>
        <div>
          <input type="text" class="form-control" id="main_contact_relationship"
                 placeholder="Relationship to Participant"
                 data-ng-model="EditChildCtrl.form.emergency_contacts[0].relationship">
        </div>
      </div>
      <div class="form-group">
        <label for="main_contact_mobile" class="obligatory">Mobile Number</label>
        <div>
          <input type="text" class="form-control" id="main_contact_mobile" placeholder="Mobile Number"
                 data-ng-model="EditChildCtrl.form.emergency_contacts[0].mobile">
        </div>
      </div>
      <div class="form-group">
        <label for="main_contact_alternative_number">Alternative contact number</label>
        <div>
          <input type="text" class="form-control" id="main_contact_alternative_number"
                 placeholder="Alternative contact number"
                 data-ng-model="EditChildCtrl.form.emergency_contacts[0].alternative_number">
        </div>
      </div>

      <p class="title"><strong>Second Contact</strong> (either you or someone else as long as available during
        event)</p>
      <div class="form-group">
        <label for="second_contact_forename" class="obligatory">Forename</label>
        <div>
          <input type="text" class="form-control" id="second_contact_forename" placeholder="Forename"
                 data-ng-model="EditChildCtrl.form.emergency_contacts[1].forename">
        </div>
      </div>
      <div class="form-group">
        <label for="second_contact_surname" class="obligatory">Surname</label>
        <div>
          <input type="text" class="form-control" id="second_contact_surname" placeholder="Surname"
                 data-ng-model="EditChildCtrl.form.emergency_contacts[1].surname">
        </div>
      </div>
      <div class="form-group">
        <label for="second_contact_relationship" class="obligatory">Relationship to Participant</label>
        <div>
          <input type="text" class="form-control" id="second_contact_relationship"
                 placeholder="Relationship to Participant"
                 data-ng-model="EditChildCtrl.form.emergency_contacts[1].relationship">
        </div>
      </div>
      <div class="form-group">
        <label for="second_contact_mobile" class="obligatory">Mobile Number</label>
        <div>
          <input type="text" class="form-control" id="second_contact_mobile" placeholder="Mobile Number"
                 data-ng-model="EditChildCtrl.form.emergency_contacts[1].mobile">
        </div>
      </div>
      <div class="form-group">
        <label for="second_contact_alternative_number">Alternative contact number</label>
        <div>
          <input type="text" class="form-control" id="second_contact_alternative_number"
                 placeholder="Alternative contact number"
                 data-ng-model="EditChildCtrl.form.emergency_contacts[1].alternative_number">
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info children-panel">
    <div class="panel-heading"><strong>Second Parent Details</strong></div>
    <div class="panel-body children-form-panel">
      <div class="form-group">
        <label for="parent_first_name">Forename</label>
        <div>
          <input type="text" class="form-control" id="parent_first_name" placeholder="First Name"
                 data-ng-model="EditChildCtrl.form.second_parent.first_name">
        </div>
      </div>
      <div class="form-group">
        <label for="parent_last_name">Surname</label>
        <div>
          <input type="text" class="form-control" id="parent_last_name" placeholder="Last Name"
                 data-ng-model="EditChildCtrl.form.second_parent.last_name">
        </div>
      </div>
      <div class="form-group">
        <label for="parent_email">Email</label>
        <div>
          <input type="text" class="form-control" id="parent_email" placeholder="Email"
                 data-ng-model="EditChildCtrl.form.second_parent.email">
        </div>
      </div>
      <div class="form-group">
        <label for="parent_phone">Phone</label>
        <div>
          <input type="text" class="form-control" id="parent_phone" placeholder="Phone"
                 data-ng-model="EditChildCtrl.form.second_parent.phone">
        </div>
      </div>
    </div>
  </div>

  <div class="buttons">
    <a ui-sref="^.index" class="btn button">Back</a>
    <button type="submit" class="btn btn-default button">
      Update
    </button>
  </div>

</form>