<div class="child-show">

    <div class="panel panel-info children-panel">
        <div class="panel-heading"><strong>Details of participant</strong></div>
        <div class="panel-body children-form-panel">
            <div>
                <p>School</p>
                <p>{{ ShowChildCtrl.child.school.name }}</p>
            </div>
            <div>
                <p>Forename</p>
                <p>{{ ShowChildCtrl.child.first_name }}</p>
            </div>
            <div>
                <p>Surname</p>
                <p>{{ ShowChildCtrl.child.last_name }}</p>
            </div>
            <div>
                <p>Birthday</p>
                <p>{{ ShowChildCtrl.child.birthday | date }}</p>
            </div>
            <div>
                <p>Sex</p>
                <p>{{ ShowChildCtrl.child.sex | sex }}</p>
            </div>
            <div>
                <p>Email</p>
                <p>{{ ShowChildCtrl.child.email }}</p>
            </div>
            <div>
                <p>Mobile</p>
                <p>{{ ShowChildCtrl.child.mobile }}</p>
            </div>
            <div>
                <p>Home Address</p>
                <p>{{ ShowChildCtrl.child.home_address }}</p>
            </div>
            <div>
                <p>Home Postcode</p>
                <p>{{ ShowChildCtrl.child.home_postcode }}</p>
            </div>
            <div>
                <p>Doctor's Name</p>
                <p>{{ ShowChildCtrl.child.doctor_name }}</p>
            </div>
            <div>
                <p>Doctor's Telephone Number</p>
                <p>{{ ShowChildCtrl.child.doctor_telephone_number }}</p>
            </div>
            <div>
                <p>Year in School</p>
                <p>{{ ShowChildCtrl.child.year_in_school.title }}</p>
            </div>
        </div>
    </div>

    <div class="panel panel-info children-panel">
        <div class="panel-heading"><strong>Medical Questions</strong></div>
        <div class="panel-body children-form-panel">
            <div data-ng-repeat="category in ShowChildCtrl.questions_in_categories">
                <h4 style="color: #116eab;">{{ category.title }}</h4>
                <i>{{ category.description }}</i>
                <div data-ng-repeat="question in category.questions" class="width-full-force">
                    <div class="width-full-force">
                        <input data-ng-disabled="true" type="checkbox" class="pull-right margin-left-20-force"
                               data-ng-model="ShowChildCtrl.answers[question.id].answer"
                               data-ng-false-value="0"
                               data-ng-true-value="1">

                        {{ question.title }}
                    </div>
                    <div class="form-group" data-ng-show="ShowChildCtrl.answers[question.id].answer">
                        Answer: {{ ShowChildCtrl.answers[question.id].text }}
                    </div>
                    <hr class="line-dashed">
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-info children-panel">
        <div class="panel-heading"><strong>Emergency contact details</strong></div>
        <div class="panel-body children-form-panel">
            <h4 class="title">We require details of two Responsible Adults who can be contacted during the event in case
                of an emergency.</h4>
            <p class="title"><strong>Main Contact</strong> (either you or someone else as long as available during
                event)</p>
            <div>
                <p>Forename</p>
                <p>{{ ShowChildCtrl.child.emergency_contacts[0].forename }}</p>
            </div>
            <div>
                <p>Surname</p>
                <p>{{ ShowChildCtrl.child.emergency_contacts[0].surname }}</p>
            </div>
            <div>
                <p>Relationship</p>
                <p>{{ ShowChildCtrl.child.emergency_contacts[0].relationship }}</p>
            </div>
            <div>
                <p>Mobile</p>
                <p>{{ ShowChildCtrl.child.emergency_contacts[0].mobile }}</p>
            </div>
            <div>
                <p>Alternative Number</p>
                <p>{{ ShowChildCtrl.child.emergency_contacts[0].alternative_number }}</p>
            </div>

            <p class="title"><strong>Second Contact</strong> (either you or someone else as long as available during
                event)</p>
            <div>
                <p>Forename</p>
                <p>{{ ShowChildCtrl.child.emergency_contacts[1].forename }}</p>
            </div>
            <div>
                <p>Surname</p>
                <p>{{ ShowChildCtrl.child.emergency_contacts[1].surname }}</p>
            </div>
            <div>
                <p>Relationship</p>
                <p>{{ ShowChildCtrl.child.emergency_contacts[1].relationship }}</p>
            </div>
            <div>
                <p>Mobile</p>
                <p>{{ ShowChildCtrl.child.emergency_contacts[1].mobile }}</p>
            </div>
            <div>
                <p>Alternative Number</p>
                <p>{{ ShowChildCtrl.child.emergency_contacts[1].alternative_number }}</p>
            </div>

        </div>
    </div>

    <div class="panel panel-info children-panel">
        <div class="panel-heading"><strong>Second Parent Details</strong></div>
        <div class="panel-body children-form-panel">
            <div>
                <p>Forename</p>
                <p>{{ ShowChildCtrl.child.second_parent.first_name }}</p>
            </div>
            <div>
                <p>Surname</p>
                <p>{{ ShowChildCtrl.child.second_parent.last_name }}</p>
            </div>
            <div>
                <p>Email</p>
                <p>{{ ShowChildCtrl.child.second_parent.email }}</p>
            </div>
            <div>
                <p>Phone</p>
                <p>{{ ShowChildCtrl.child.second_parent.phone }}</p>
            </div>
        </div>
    </div>

    <div class="buttons">
        <a class="btn btn-warning button" ui-sref="^.edit({childId: ShowChildCtrl.child.id})">Edit</a>
        <a class="btn btn-success button width-200" ui-sref="^.index">Back to All Participants</a>
    </div>
</div>

