<div class="modal-header">
    <button type="button" data-ng-click="QuestionsCtrl.close()" class="close">×</button>
    <h2>{{ QuestionsCtrl.course | course }}</h2>
</div>
<div class="modal-header">
    <strong>Event Overview</strong>
    <div data-ng-bind-html="QuestionsCtrl.course.excerpt"></div>
</div>
<div class="modal-body">
    <div data-ng-if="QuestionsCtrl.course.required_swim_option">
        <div>
            <strong>Child Swim Option</strong>
            <div class="form-group">
                <label for="can_swim" class="obligatory">Can your Participant Swim?</label>
                <div>
                    <select class="form-control" id="can_swim" data-ng-model="QuestionsCtrl.form.can_swim_id"
                            data-ng-options="swimOption.id as (swimOption.number + ' - '+ swimOption.option) for swimOption in QuestionsCtrl.swimOptions">
                    </select>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div data-ng-if="QuestionsCtrl.course.required_passport">
        <strong>Child Passport Details</strong>
        <p>This Fields Is Required For The Selected Course</p>
        <div class="form-group">
            <label for="passport_no" class="obligatory">Passport No</label>
            <div>
                <input type="text" class="form-control" id="passport_no" placeholder="Passport No"
                       name="passport_no"
                       data-ng-model="QuestionsCtrl.form.passport_detail.no">
            </div>
        </div>
        <div class="form-group">
            <label for="nationality" class="obligatory">Nationality</label>
            <div>
                <input type="text" class="form-control" id="nationality" placeholder="Nationality"
                       name="nationality"
                       data-ng-model="QuestionsCtrl.form.passport_detail.nationality">
            </div>
        </div>
        <div class="form-group">
            <label for="password_first" class="obligatory">First / Given names as on passport</label>
            <div>
                <input type="text" class="form-control" id="password_first"
                       placeholder="First / Given names as on passport"
                       name="password_first"
                       data-ng-model="QuestionsCtrl.form.passport_detail.first">
            </div>
        </div>
        <div class="form-group">
            <label for="place_of_issue" class="obligatory">Place of issue / issuing authority</label>
            <div>
                <input type="text" class="form-control" id="place_of_issue"
                       placeholder="Place of issue / issuing authority"
                       name="place_of_issue"
                       data-ng-model="QuestionsCtrl.form.passport_detail.place_of_issue">
            </div>
        </div>
        <div class="form-group">
            <label for="date_of_issue" class="obligatory">Date Of Issue</label>
            <div class="form-group">
                <p class="input-group">
                    <input type="text" class="form-control"
                           id="date_of_issue"
                           uib-datepicker-popup="dd-MM-yyyy"
                           ng-model="QuestionsCtrl.form.passport_detail.date_of_issue"
                           is-open="QuestionsCtrl.datePickerForDateOfIssueOpen"
                           close-text="Close"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default"
                              ng-click="QuestionsCtrl.datePickerForDateOfIssueOpen = !QuestionsCtrl.datePickerForDateOfIssueOpen">
                          <i
                                  class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="date_of_expiry" class="obligatory">Date Of Expiry</label>
            <div class="form-group">
                <p class="input-group">
                    <input type="text" class="form-control"
                           id="date_of_expiry"
                           uib-datepicker-popup="dd-MM-yyyy"
                           ng-model="QuestionsCtrl.form.passport_detail.date_of_expiry"
                           is-open="QuestionsCtrl.datePickerForDateOfExpiryOpen"
                           close-text="Close"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default"
                              ng-click="QuestionsCtrl.datePickerForDateOfExpiryOpen = !QuestionsCtrl.datePickerForDateOfExpiryOpen">
                          <i
                                  class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <hr>
    </div>

    <label>Any comments regarding your booking</label>
    <div class="form-group">
        <textarea class="form-control" data-ng-model="QuestionsCtrl.form.comment" rows="3"></textarea>
    </div>
    <label data-ng-if="QuestionsCtrl.course.checkboxes.length || QuestionsCtrl.course.questions.length">Please read
        agree to the following:</label>
    <div class="checkbox" data-ng-repeat="checkbox in QuestionsCtrl.course.checkboxes">
        <label><input type="checkbox" class="pull-right"
                      data-ng-model="QuestionsCtrl.confirm[$index]"
                      data-ng-false-value="0"
                      data-ng-true-value="1"><span class="obligatory-before"></span>{{ checkbox.text }}</label>
    </div>
    <div class="checkbox" data-ng-repeat="question in QuestionsCtrl.course.questions">
        <label><input type="checkbox" class="pull-right"
                      data-ng-model="QuestionsCtrl.form.answers[question.id].answer"
                      data-ng-false-value="0"
                      data-ng-true-value="1"><span class="obligatory-before"></span>{{ question.text }}</label>
        <div class="form-group" data-ng-show="QuestionsCtrl.form.answers[question.id].answer">
                <textarea class="form-control" data-ng-model="QuestionsCtrl.form.answers[question.id].text"
                          rows="3" placeholder="Description"></textarea>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" data-ng-click="QuestionsCtrl.close()">
        Back
    </button>
    <button class="btn btn-success" data-ng-disabled="!QuestionsCtrl.check()" data-ng-click="QuestionsCtrl.send()">
        Continue
    </button>
</div>