<div class="row">
  <select class="form-control day" data-ng-change="SelectDateCtrl.change()" data-ng-model="SelectDateCtrl.day"
          data-ng-options="day for day in SelectDateCtrl.days"></select>
  <select class="form-control month" data-ng-change="SelectDateCtrl.change()" data-ng-model="SelectDateCtrl.month"
          data-ng-options="month.value as month.name for month in SelectDateCtrl.months"></select>
  <select class="form-control year" data-ng-change="SelectDateCtrl.change()" data-ng-model="SelectDateCtrl.year"
          data-ng-options="year for year in SelectDateCtrl.years"></select>
</div>
